CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions_16MB.csv"
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_SPEED_80M=y

CONFIG_ESP_BOARD_PERIPH_I2S_SUPPORT=y

# Enable dummy codec for MAX98357A (I2S DAC without codec chip)
CONFIG_CODEC_DUMMY_SUPPORT=y

# Pre-configured Wi-Fi
CONFIG_APP_WIFI_SSID="Henry'sStudy"
CONFIG_APP_WIFI_PASSWORD="xgm10503"

# Console output via UART (external USB-to-serial)
CONFIG_ESP_CONSOLE_UART_DEFAULT=y
